.vscode
target
bin
obj
node_modules
kotlin

*.txt
*.pdf
*.exe
*.csproj
*.sln
*.js
*.class
*.pdb
*.jar

package-lock.json
tsconfig.tsbuildinfo

# not finish
# to lazy to debug
p0149
# cannot understand the question
p0150
p0155